.season-rankings__season {
    font-size: 0.7rem;
    font-weight: 600;

    span {
        font-weight: 300;
    }
}

.user-profile {

    &__image {
        height: 8rem;

        img {
            height: 100%;
        }
    }

    &__info {
        &--name {
            font-weight: 800;
            font-size: 1.3rem;
        }

        &--favourite {}

        &--rank {
            font-size: 0.7rem;
        }
    }

    &__buttons {}
}